/*=============================
=            FONTS            =
=============================*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic');






/*===================================
=            BASE STYLES            =
===================================*/
body {
    font-family: 'Lato';
}
section, header, footer, main, article, nav, aside {
    position: relative;
}
a {
    outline: none !important;
    text-decoration: none !important;
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
    text-decoration: none !important;
}
.force-gpu * {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}
#site-wrap {
    width: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0;
    -webkit-transition: all 650ms ease;
    -moz-transition: all 650ms ease;
    transition: all 650ms ease;
}
.show-site #site-wrap { opacity: 1; }




/*================================
=            SITE NAV            =
================================*/
#site-nav {
    margin: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 88888888888;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 225ms ease;
    -moz-transition: all 225ms ease;
    transition: all 225ms ease;
}
.show-nav #site-nav {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}
#site-nav .navbar-brand i { color: rgb(255, 69, 69); }
#site-nav a { color: #444; }
#site-nav a:hover { color: rgb(255, 69, 69); }







/*======================================
=            CALL TO ACTION            =
======================================*/
#call-to-action {
    text-align: center;
    height: 100vh;
    min-height: 800px;
    margin-bottom: 250px;
}
#call-to-action h1 {
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    color: #fff;
    max-width: 850px;
    z-index: 888888;
    margin: 0;
    font-size: 67px;
    font-weight: 200;
}
#call-to-action .main-text {
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
}
#call-to-action h2 {
    font-size: 92px;
    font-weight: 200;
    margin: 0;
}
#call-to-action p.lead {
    font-size: 21px;
    font-weight: 400;
}
#call-to-action .links a {
    font-size: 15px;
    margin: 0 15px;
    font-weight: 300;
    display: inline-block;
    padding: 0;
    height: 35px;
    line-height: 32px;
    width: 150px;
    letter-spacing: 0.03em;
}
#call-to-action .zoomed-action {
    position: absolute;
    bottom: 0;
    left: 50%;
    max-width: 900px;
    width: 100%;
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}
#call-to-action .zoomed-action:before {
    position: absolute;
    content: ' ';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: block;
    opacity: 0.3;
}
#call-to-action .top-part {
    position: absolute;
    display: block;
    left: 0;
    bottom: 100%;
    height: 30px;
    width: 100%;
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
    background: rgb(3, 3, 3);
}
#call-to-action .top-part div {
    position: absolute;
    left: 10px;
    top: 10px;
}
#call-to-action .top-part i {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #828282;
    font-size: 8px;
}
#call-to-action .bottom-part {
    position: absolute;
    display: block;
    left: 0;
    top: 100%;
    height: 60px;
    width: 100%;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
    background: rgb(208, 208, 208);
}
#call-to-action .bottom-part i {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 28px;
}
#call-to-action .zoomed-action img {
    width: 100%;
    height: auto;
    border-right: solid 30px rgb(3, 3, 3);;
    border-left: solid 30px rgb(3, 3, 3);;
    border-bottom: solid 30px rgb(3, 3, 3);;
}



/*==================================
=            INFO GROUP            =
==================================*/
.info-group {
    margin-bottom: 250px;
}
.info-group h2 {
    margin-top: 0;
    font-size: 70px;
    line-height: 65px;
    margin-bottom: 30px;
}
.info-group h2 span {
    display: block;
}
.info-group h2 span.first { font-weight: 200; }
.info-group h2 span.second { font-weight: 300; }
.info-group h2 span.third { font-weight: 400; }
.info-group p {
    font-size: 30px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 25px;
}
.info-group img.tall {
    padding: 0 25px;
}
.info-group h3 {
    font-size: 40px;
    line-height: 45px;
    font-weight: 300;
    margin-top: 45px;
    margin-bottom: 20px;
}



/*===============================
=            CONTACT            =
===============================*/
#contact {
    margin-bottom: 250px;
}
#contact h2 {
    text-align: center;
    font-weight: 200;
    font-size: 70px;
    line-height: 75px;
}
#contact hr {
    margin-bottom: 50px;
}







/*=======================================
=            NO SCROLL MAGIC            =
=======================================*/
.no-scroll-magic #site-nav {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
}
.no-scroll-magic #call-to-action {
    padding: 0 15px;
    height: auto;
    min-height: 0;
}
#call-to-action .zoomed-action {
    width: 100%;
    max-width: 900px;
}
.no-scroll-magic #call-to-action .main-text, .no-scroll-magic #call-to-action .zoomed-action, .no-scroll-magic #call-to-action h1  {
    position: relative;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
    margin: 0 auto;
}
.no-scroll-magic #call-to-action .main-text {
    margin: 100px auto 50px;
}
.no-scroll-magic #call-to-action h1 {
    color: #333;
    margin: 30px auto 90px;
}








/*==============================
=            FOOTER            =
==============================*/
footer {
    background: rgb(208, 208, 208);
    padding: 300px 0;
}
footer p {
    font-weight: 200;
    color: #828282;
    margin: 0;
    text-align: center;
    font-size: 60px;
}








/*=====================================
=            MEDIA QUERIES            =
=====================================*/
@media only screen and (max-width : 768px) {
    #call-to-action h1 {
        font-size: 53px;
    }
    .info-group h2 {
        font-size: 51px;
        line-height: 55px;
    }
}
@media only screen and (max-width : 767px) {
    .info-group h2 span {
        display: inline;
        font-weight: 300 !important;
    }
    .info-group p {
        font-size: 22px;
        line-height: 32px;
    }
    .info-group h3 { font-weight: 200; }
    .info-group img.tall {
        padding: 0;
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (max-width : 480px) {
    #call-to-action .links a {
        width: 100%;
        display: block;
        margin: 6px 0;
    }
    #call-to-action h1 { font-size: 33px; }
    #call-to-action .top-part { height: 15px; }
    #call-to-action .zoomed-action img { border-width: 15px; }
    #call-to-action .bottom-part { height: 35px; }
    #call-to-action .bottom-part i { font-size: 20px; }
    .info-group h2 {
        font-size: 39px;
        line-height: 40px;
    }
    .info-group p {
        font-size: 18px;
        line-height: 28px;
    }
    #contact h2 { font-size: 57px; }
    footer p { font-size: 40px; }
}